.cart-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.cart-hero {
  position: absolute;
  top: 0;
  background-color: #f5f7fd;
  height: 100%;
  overflow-y: auto;
  transition: all 1s ease;
  width: 25rem;
padding-bottom: 6rem;
}
.cart-animation {
  animation: slide 500ms ease-in-out;
  right: 0;
}
@keyframes slide {
  0% {
    opacity: 0;
    right: -20rem;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
.cart-head {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  h2 {
    word-spacing: 7px;
    font-size: 1rem;
  }
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
  }
}
.cart-savings {
  padding: 10px;
  background-color: #dbe8ff;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 10px;
  p {
    font-size: 14px;
    font-weight: 600;
    color: #256fef;
  }
}
.cart-product-wrapper {
  display: flex !important;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 1rem;
  padding: 1rem 0.5rem;
  background-color: white;
  border-radius: 10px;
}
.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  max-height: 4.5rem;
  height: 100%;
  margin: 0 10px;
}
.cart-product-hero {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
}
.cart-product-img {
  max-width: 4.5rem;
  max-height: 4.5rem;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(230, 230, 230);
  img {
    width: 95%;
    object-fit: cover;
  }
}
.cart-product-details {
  display: flex;
  flex-direction: column;
  height: 4.5rem;
  justify-content: space-around;
  max-width: 9rem;
  p {
    font-size: 12px;
    color: rgb(50, 50, 50);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* line */
  }
  span {
    color: rgb(100, 100, 100);
    font-size: 10px;
  }
  legend {
    font-size: 12px;
    strike {
      color: rgb(100, 100, 100);
      margin-left: 5px;
    }
  }
}

.quantity-controls {
  max-width: 4.5rem;
  width: 100%;
}
.qnt-control-hero {
  cursor: pointer;
  /* padding: 0 8px; */
  border-radius: 7px;
  background-color: var(--secondary);
  display: flex;
  /* gap: 10px; */
  color: white;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  button {
    cursor: pointer;
    padding: 6px 8px;
    font-size: 15px;
    font-weight: 600;
    height: 100%;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    &:hover {
      background-color: #06701b;
      /* background-color: #2f4834; */
    }
  }
  button[disabled] {
    cursor: not-allowed;

    &:hover {
      background-color: var(--secondary);
    }
  }
}
@media (max-width: 400px) {
  .qnt-control-hero {margin: 0 !important};
}
.bill-wrapper {
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  width: 100% !important;
}
.bill-hero {
  padding: 1rem;
  h2 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}
.bill-details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.bill-detail-item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  p svg {
    margin-right: 5px;
    color: #363636;
  }
  b {
    font-weight: 400;
    font-size: 14px;
    s {
      margin-right: 3px;
      color: #696969;
    }
  }
}
.grand-total,
.grand-total b {
  font-size: 14px;
  font-weight: 600;
}
.saving-curve-box {
  width: 100%;
  margin: 0;
  padding: 14px 10px;
  --mask: radial-gradient(6.73px at 50% 9.5px, #000 99%, #0000 101%)
      calc(50% - 10px) 0/20px 100%,
    radial-gradient(6.73px at 50% -4.5px, #0000 99%, #000 101%) 50% 5px/20px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  p {
    margin-top: 4px;
  }
}
.cart-cancellation-policy {
  padding: 10px;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  h2 {
    font-size: 1rem;
    margin-bottom: 4px;
  }
  p {
    line-height: 16px;
    font-size: 12px;
    color: #828282;
  }
}
.checkout-notch {
  bottom: 0;
  width: 25rem;
  position: fixed;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-strip {
  cursor: pointer;
  margin: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1.5rem;
  background-color: var(--secondary);
  justify-content: space-between;
  div {
    font-size: 14px;
    font-weight: 600;
    color: white;
    p {
      font-size: 12px;
      font-weight: 400;
      color: rgb(220, 220, 220);
    }
  }
  button {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    background-color: transparent;
    outline: none;
    border: none;
  }
}
@media (max-width:850px) {
  .checkout-notch{
    width: 100%;
  }
  .cart-hero{
    width: 100%;
  }
}

.empty-cart-wrapper{
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}
.empty-cart-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  img{
    width: 10rem;
  }
  h2{
    font-size: 1.1rem;
  }
  p{
    font-size: 14px;
    color: #828282;
  }
  button{
    background-color: var(--secondary);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    padding: 8px 1rem;
  }
}