header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.3rem;
  border-bottom: 1px solid #eee;
  gap: 1rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 110;
}

.header-item-wrapper {
  display: flex;

  align-items: center;
  height: 100%;
}

.header-item {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: #363636;
    font-size: 1.2rem;
  }

  &:hover {
    background-color: #fcfcfc;
  }
  .header-cart-data p {
    font-size: 14px;
    font-weight: 700;
  }
}

.brand-logo {
  width: 8rem;
}

.search-wrapper {
  flex: 1;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: #f8f8f8;
  border-radius: 0.6rem;
  border: 1px solid #e8e8e8;
  height: 3rem;
  cursor: text;

  &:hover {
    background-color: #f8f8f8;
  }
}

.search {
  background: none;
  border: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  margin-left: -1.2rem;
}

.placeholder {
  color: #666;
  font-size: 1rem;
}

.cart-btn {
  padding: 0.5rem 5px;
  background-color: var(--secondary);
  border-radius: 7px;
  border: none;
  outline: none;
  min-width: 7rem;
  color: white;
  display: flex;
  margin: auto;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;

  p {
    font-size: 1.6rem;
  }

  span {
    font-size: 15px;
  }

  &:hover {
    background-color: #1a7d1a;
  }
}
.cart-btn[disabled] {
  background-color: #e5e5e5;
  cursor: not-allowed;
  .cart-icon {
    animation: none;
  }
}
.header-item-mobile {
  display: none;
}

.backArrowSearch {
  display: none;
}

.cart-icon {
  display: inline-block;
  animation: bounce 0.9s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
}

/* ? user dropdown */
.user-area {
  position: relative;
}

.user-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.user-thumb h4 {
  display: flex;
  font-weight: 400;
  font-size: 1rem;

  span {
    font-size: 1.3rem;
  }
}

.user-logo {
  display: flex;
  width: 2.7rem;
  height: 2.7rem;
  background-color: #f8cb46;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;

  &:hover {
    background-color: #f8c733;
  }

  p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--secondary);
    margin: auto;
  }
}

.user-dropdown {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  width: 100%;
  gap: 5px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 5.2rem;
  background-color: white;
  padding: 1.4rem;
  padding-top: 10px;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 12px;
  z-index: 130;
}

.user-dropdown a {
  border-radius: 6px;
  padding: 5px 10px;
  &:hover {
    background-color: #f8cb46;
  }
}

.user-dropdown span {
  font-weight: 700;
  color: #777;
}

.user-dropdown p {
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}
.user-menu {
  display: flex;
  flex-direction: column;

  a,
  button {
    border-radius: 5px;
    color: #777;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: start;
    padding: 5px 10px;

    &:hover {
      background-color: #f8cb46;
      color: #000000;
    }

    &:last-child:hover {
      color: red;
    }
  }
}
.sc-cart-info {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 15.4rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 50px;
  background-color: var(--secondary);
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding: 5px 10px;
  border-radius: 3rem;
  display: none;
  color: white;
  max-height: 3.5rem;
  height: 100%;
  .sc-cart-info-left {
    display: flex;
    gap: 7px;
    margin-left: 15px;
    align-items: center;
  }
  .sc-cart-info-left div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.6rem;
    span {
      border-radius: 50%;
      overflow: hidden;
      width: 2.6rem;
      height: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary);
      /* background-color: red; */
      margin-left: -15px;
    }
    span img {
      border-radius: 50%;
      width: 90%;
      object-fit: cover;
    }
  }
  .sc-cart-info-left div:last-child {
    display: flex;
    flex-direction: column;
    p {
      font-weight: 600;
    }
    span {
      margin-top: -3px;
      font-size: 12px;
    }
  }
  .sc-cart-info-right {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff36;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
  }
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  height: 89.5%;
  width: 100%;
  z-index: 100;
}

html.overlay {
  overflow: hidden !important;
}

@keyframes bounce {
  0% {
    transform: translateY(2px) scaleY(1);
  }

  30% {
    transform: translateY(-4px) scaleY(1.05);
  }

  50% {
    transform: translateY(2px) scaleY(0.97);
  }

  70% {
    transform: translateY(-2px) scaleY(1.02);
  }

  100% {
    transform: translateY(0) scaleY(1);
  }
}

@media (max-width: 850px) {
  header {
    flex-direction: column;
    border-bottom: none;
    height: auto;
    gap: 0;
    padding: 0.5rem;
    padding-top: 0;
  }

  .user-controls {
    display: none;
  }

  .header-item-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .header-item {
    padding: 0;
  }

  .search-wrapper {
    min-width: 0;
    max-width: 100%;

    .search {
      padding-left: 1rem;
    }
  }

  .header-item-mobile {
    display: block;
    a svg {
      font-size: 1.5rem;
      color: rgb(50, 50, 50);
    }
  }

  .displayNone {
    display: none !important;
  }

  .expanded-search {
    padding: 0 !important;
    margin: 1rem 0 !important;
  }

  .backArrowSearch {
    display: block;
    font-size: 2rem;
  }

  /*  */
  .user-dropdown {
    display: none !important;
  }
  .sc-cart-info {
    display: flex !important;
  }

  .overlay {
    display: none !important;
  }
}

.search-page {
  width: 100%;
}

.expanded-search {
  max-width: 900px;
  width: 100%;
  min-width: 100px;
  margin: 0 auto;
  background-color: white;
  padding: 0 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .search{
    margin-left: 0;
  }
  &:hover {
    background-color: white;
  }
}

.input-search {
  width: 100%;
  height: 100%;
}

.input-search input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
}

header.search-page {
  justify-content: center;
  padding: 1.2rem;
}

.search-result-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.search-result-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  .home-product-card{
    width: 100%;
  }
}

@media (max-width: 1380px) {
  .search-result-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1190px) {
  .search-result-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 980px) {
  .search-result-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 790px) {
  .search-result-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 590px) {
  .search-result-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 380px) {
  .search-result-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
