.no-internet-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  height: 100vh;
  background-color: white;
}
.no-internet-hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  svg {
    font-size: 7rem;
    color: var(--secondary);
  }
  p {
    font-weight: 600;
    text-align: center;
  }
  button {
    outline: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border: 2px solid var(--primary);
    padding: 8px 1rem;
    &:hover {
      background-color: var(--primary);
    }
    &:active {
      background-color: var(--primary);
    }
  }
}
.back-online-strip {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
  background-color: #089d25;
}
