.subcategory-table-wrapper {
    width: 100%;
}

.subcategory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.subcategory-table th,
.subcategory-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    position: relative;
    z-index: 10;
}

.subcategory-table th {
    background-color: rgb(60, 60, 60);
    font-weight: 500;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 90;

    &:first-child {
        border-top-left-radius: 10px;
    }

    &:last-child {
        border-top-right-radius: 10px;
    }
}

.subcategory-table tbody tr td {
    height: 8rem;
}

.subcategory-table tr:hover {
    background-color: rgb(252, 252, 252);
}

.subcategory-img {
    width: 4rem;
    object-fit: contain;
    border-radius: 4px;
    margin: 0 1rem;
    padding: 1px;
}


.subcategory-table td .enlarge {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8rem;
}

.action-buttons {
    display: flex;
    gap: 8px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .action-buttons {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
    height: 100%;
}  */

.edit-btn,
.delete-btn {
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
    gap: 5px;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.edit-btn {
    color: #2196F3;
    border: 1px solid #2196F3;
}

.edit-btn:hover {
    background-color: #0b7dda1d;
}

.delete-btn {
    color: #f44336;
    border: 1px solid #f44336;
}

.delete-btn:hover {
    background-color: #d32f2f1f;
}


.enlarge-subcat-img {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: #888;
    cursor: pointer;

    &:hover {
        color: #000;
    }
}

@media (max-width: 768px) {
    .subcategory-table-wrapper {
        overflow-x: auto;
    }

    .subcategory-table {
        min-width: 700px;
        /* triggers horizontal scroll */
    }
}