.upload-category-modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 120;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.6);
}

.upload-category-modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    animation: fadeInScale 0.3s ease-out;
    max-width: 400px;
    min-width: 200px;
}


@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.category-model-head {
    display: flex;
    justify-content: space-between;

    h1 {
        font-weight: 500;
        font-size: 1.2rem;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            transform: scale(1.15);
        }
    }
}

.catgory-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: center; */
}

.catgory-form label {
    display: flex;
    font-weight: 500;
    color: #333;
    gap: 0.5rem;
    flex-direction: column;
}

.catgory-form label input {
    border: none;
    font-size: 1rem;
    padding: 1rem;
    background-color: #e4f1ff;
    border: 1px solid transparent;
    border-radius: 7px;

    &:focus {
        border-color: #69b4ff;
    }
}

.catgory-form label input[type="file"] {
    display: none;
}

.category-img-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    text-align: center;
    height: 15rem;
    background-color: #d5efff;
    cursor: pointer;
    border-radius: 7px;
    border: 1px dashed #555;

    p {
        font-size: 0.8rem;
    }

    span {
        color: black;
        font-size: 1.2rem;
    }
}

.category-img-upload img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
    padding: 1rem;
    border-radius: 5px;
    max-height: 13rem;
    border: 1px solid #d4d4d4;
}


.category-model-head h1 {
    flex: 1;
    text-align: center;
    font-weight: 600;
}

.catgory-form button {
    background-color: white;
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    &:hover {
        transition: all 300ms ease;
        background-color: var(--primary);
    }
}
.catgory-form button:disabled{
    cursor: not-allowed;
    color: #555;
}
@media (max-width: 480px) {
    .upload-category-modal {
        padding: 1rem;
        width: 90%;
    }

    .category-img-upload {
        height: 10rem;
    }
    .category-img-upload img{
        width: 100%;
        padding: 0;
        border-color: transparent;
    }
}