:root {
  --primary: #ffbf00;
  --primary-light: #ffc929;
  --secondary: #038c1f  ;
  --secondary-light: #0b1a78;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* background-color: #f2f8fd; */
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #ffffff;
}
 
::-webkit-scrollbar-thumb {
  background: var(--secondary); 
}

::-webkit-scrollbar-thumb:hover {
  background: #027018
}