.account-wrapper {
  max-width: 1200px;
  min-width: 700px;
  min-height: 620px;
  max-height: 670px;
  display: flex;
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  border-radius: 10px;
}

.account-detail {
  border: 1px solid #eeeeee;
  display: flex;
  width: 100%;
}

.account-menu {
  border-right: 1px solid #eeeeee;
  display: flex;
  width: 100%;
  max-width: 16.1rem;
  flex-direction: column;
  padding-top: 3.8rem;
  position: relative;
}

.admin-tag {
  position: absolute;
  top: 0.8rem;
  left: 50%;
  width: 70%;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 600;
  transform: translateX(-50%);
  padding: 0.3rem 0;

  color: var(--secondary);
  border: 1px solid var(--secondary);
  background-color: #aaffaacd;
}

.account-menu a {
  width: 100%;
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
  gap: 1rem;
  text-decoration: none;
  height: 3.5rem;
  background-color: white;
  border-top: 1px solid #eeeeee;
  padding: 0 1.2rem;
  white-space: nowrap;

  span {
    font-size: 1.2rem;
  }

  &:last-child {
    border-bottom: 1px solid #eeeeee;
  }

  &:hover {
    color: #1a1a1a;
    background-color: #f9f9f9;
  }
}

.account-menu a.active {
  color: #333;
  position: relative;
  /* border-left: 4px solid var(--secondary);*/
  background-color: #f9f9f9;
  &::after {
    content: "";
    left: 0;
    height: 100%;
    width: 4px;
    position: absolute;
    background-color: var(--secondary);
  }
  span {
    position: relative;
    z-index: 1000;
  }
}

.accountToHome {
  display: none;
}

.account-content {
  padding: 2rem;
  max-width: 900px;
  min-height: 400px;
  width: 100%;
  a:active {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1020px) {
  .account-content {
    padding: 10px;
  }

  .account-wrapper {
    margin: 1rem;
    box-shadow: none;
  }

  .account-detail {
    border: none;
    width: 100%;
  }

  .account-wrapper.hide-menu .account-menu {
    display: none;
  }

  .account-wrapper.show-menu .account-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 0;
    border: none;
    gap: 1.5rem;
    width: 100%;
    /* max-width: 300px; */
  }

  .account-wrapper.show-menu .account-menu span {
    background-color: #f8f8f8;
    padding: 5px 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
  }

  .account-wrapper.show-menu .account-menu a {
    border: none;
    font-size: 1.1rem;
    color: #000;
    border-radius: 7px;
    gap: 1.5rem;
    border: 1px solid transparent;
  }

  .account-wrapper.show-menu .account-menu a:hover {
    border: 1px solid #e8e8e8;
    background-color: #f8f8f8;
  }

  .account-wrapper.show-menu .accountToHome {
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    padding: 5px 1rem;
    border-radius: 2rem;
    align-items: center;
    width: min-content;
    border: 1px solid #e8e8e8;
    background-color: #f8f8f8;
    margin-top: 1rem;
  }

  .account-wrapper.show-menu .accountToHome:hover {
    background-color: rgb(245, 245, 245);
  }

  .account-content {
    max-width: 1000px;
  }
}

@media (max-width: 850px) {
  .account-wrapper {
    margin-bottom: 4rem;
  }
  .account-wrapper.show-menu {
    margin-bottom: 5rem !important;
  }
  .admin-tag {
    top: 1.1rem;
    left: 10.4rem;
    padding: 6px 1rem;
    width: fit-content;
  }
}

@media (max-width: 740px) {
  .account-wrapper {
    min-width: 200px;
    min-height: 200px;
  }
}

/* ? ADMIN */
.admin-account-wrapper {
  height: 100%;
  .account-detail {
    border: none;
    .account-content {
      max-width: none;
    }
  }
}
.admin-account-menu-toggle {
  display: none;
}
.admin-account-menu {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  top: 0;
  background-color: white;
  z-index: 100;
  max-width: 14rem;
  width: 3.35rem;
  transition: all 1s ease-in-out;
  padding-top: 8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;

  a.active span::before {
    content: "";
    position: absolute;
    background-color: #d0fbdb;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    border-radius: 7px;
    margin-top: -1px;
    z-index: -1;
  }
  &:hover {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .sidebar-wrapper{
    position: fixed;
    transition: all 500ms ease-in-out;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .admin-account-menu {
    width: 0;
    max-width: 12rem;
    padding-top: 9rem;
    transition: width 500ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &:hover {
      width: 0;
    }
  }
  .account-content {
    margin-left: 0 !important;
    margin-top: 1rem;
  }
  .admin-account-menu-toggle {
    display: flex;
    margin: 10px;
    margin-top: 5px;
    position: absolute;
    font-size: 1.2rem;
    z-index: 1000;
    cursor: pointer;
  }
  .admin-account-menu-active {
    width: 100% !important;
  }
}
