.address-hero {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.saved-address-wrapper {
  display: flex;
}
.saved-address-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-height: 480px;
  overflow: auto;
}
.address-item {
  position: relative;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 7px;
  &:hover {
    background-color: #fafafa;
  }
}
.address-controls {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    border: none;
    display: flex;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
  }
}
.three-dot-address-control {
  position: relative;
}
.three-dot-address-control svg {
  z-index: 3;
}
.three-dot-address-control::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 2rem;
  height: 2rem;
  background-color: #e4e4e484;
  z-index: 1;
  border: 1px solid #939393;
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.address-item:hover .three-dot-address-control::before{
  transform: translate(-50%, -50%) scale(1);

}
.address-control-menu {
  background-color: white;
  width: 7.5rem;
  position: absolute;
  right: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  button {
    display: flex;
    font-weight: 500;
    padding: 7px 10px;
    gap: 8px;
    align-items: center;
    width: 100%;
    font-size: 0.95rem;
    width: 100%;
    &:first-child {
      color: #179530;
      &:hover {
        background-color: #d7ffd4;
      }
    }
    &:last-child {
      color: #f44336;
      &:hover {
        background-color: #ffe5e5;
      }
    }
  }
}
