.address-section-wrapper {
  height: 100%;
}
.address-hero {
  display: flex;
  gap: 1rem;
  height: 100%;
  flex-direction: column;
}
@media (max-width:500px) {
    .address-head{

    }
}
.saved-address-wrapper {
  display: flex;
  height: 100%;
}
.saved-address-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  gap: 1rem;
  padding-right: 10px;
  width: 100%;
  max-height: 480px;
  overflow: auto;
}
.no-address-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* margin-top: -2rem; */
  p {
    text-align: center;
    width: 11rem;
    font-size: 1rem;
  }
  button {
    background-color: white;
    border: 2px solid var(--primary);
    border-radius: 7px;
    cursor: pointer;
    cursor: pointer;
    padding: 4px 1rem;
    font-size: 1rem;
    width: 11rem;

    &:hover {
      transition: all 400ms ease;
      background-color: var(--primary);
    }
    &:active {
      transition: all 400ms ease;
      background-color: var(--primary);
    }
  }
}
.address-item {
  position: relative;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 7px;
  /* overflow-y: scroll; */
  span,p{
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
    margin-right: 3rem;
  }
  &:hover {
    background-color: #fafafa;
  }
}
.address-controls {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    border: none;
    display: flex;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
  }
}
.three-dot-address-control {
  position: relative;
}
.three-dot-address-control svg {
  z-index: 3;
}
.three-dot-address-control::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 2rem;
  height: 2rem;
  background-color: #e4e4e484;
  z-index: 1;
  border: 1px solid #939393;
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.address-item:hover .three-dot-address-control::before {
  transform: translate(-50%, -50%) scale(1);
}
.address-control-menu {
  background-color: white;
  width: 7.5rem;
  position: absolute;
  right: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  button {
    display: flex;
    font-weight: 500;
    padding: 7px 10px;
    gap: 8px;
    align-items: center;
    width: 100%;
    font-size: 0.95rem;
    width: 100%;
    &:first-child {
      color: #179530;
      &:hover {
        background-color: #d7ffd4;
      }&:active {
        background-color: #d7ffd4;
      }
    }
    &:last-child {
      color: #f44336;
      &:hover {
        background-color: #ffe5e5;
      }&:active {
        background-color: #ffe5e5;
      }
    }
  }
}
