.order-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.order-page-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.order-list-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  width: 100%;
  /* overflow: auto; */
  /* min-width: 1230px; */
}
.order-list-head {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.5fr 1.5fr 1fr 1fr 3fr 1.5fr 0.8fr;
  width: 100%;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  h3 {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }
}
.order-list-details-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.order-list-detail-item {
  padding: 1rem 10px;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.5fr 1.5fr 1fr 1fr 3fr 1.5fr 0.8fr;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  font-size: 14px;
  border-bottom: 1px solid rgb(235, 235, 235);
  p {
    a,
    u {
      background-color: #fff9ec;
      padding: 3px 10px;
      font-weight: 500;
      border: 2px solid rgb(255, 196, 0);
      color: rgb(255, 162, 0);
      border-radius: 5px;
      position: relative;
      padding-left: 1rem;
      &::before {
        width: 5px;
        height: 5px;
        content: "";
        position: absolute;
        background-color: rgb(255, 187, 0);
        left: 7px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    u {
      border-color: rgb(0, 165, 11);
      text-decoration: none;
      background-color: rgb(240, 255, 236);
      color: rgb(0, 165, 11);
      &::before {
        background-color: rgb(26, 158, 0);
      }
    }
  }
  b {
    font-weight: 500;
  }
  &:hover {
    background-color: rgb(250, 250, 250);
  }

  .order-update-action-btn {
    position: relative;
    display: flex;
    border-radius: 4px;
    padding: 0 6px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }
}
.order-list-detail-item:nth-child(8) .order-status-update-menu,
.order-list-detail-item:nth-child(9) .order-status-update-menu,
.order-list-detail-item:nth-child(10) .order-status-update-menu {
  top: -16rem;
}
.order-status-update-menu {
  z-index: 1000;
  position: absolute;
  top: 2rem;
  right: -2rem;
  width: 10rem;
  border-radius: 7px;
  border: 1px solid rgb(235, 235, 235);
  max-height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding-top: 10px;
  button {
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: white;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: rgb(250, 250, 250);
    }
  }
  div:first-child {
    padding: 2px 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-size: 1.3rem;
    right: -4px;
  }
}
