.order-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-right: 3.5rem;
}
@media (max-width: 1020px) {
  .order-page-wrapper {
    padding-right: 4rem;
  }
}
@media (max-width: 500px) {
  .order-page-wrapper {
    padding-right: 0rem;
  }
}
.order-page-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}
.order-page-hero .admin-product-pagination {
  width: 100%;
  background-color: white;
  height: 3rem;
  position: absolute;
  bottom: -4rem !important;
}
.order-list-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  width: 100%;
  overflow: auto;
  max-height: 630px;
}
.order-list-head {
  min-width: 1400px;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1.2fr 0.9fr 1.5fr 1.6fr 0.8fr 0.8fr 2.5fr 1.5fr 0.8fr;
  width: 100%;
  justify-items: center;
  grid-template-rows: 1fr;
  h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
}
.order-list-details-wrapper {
  width: 100%;
  display: flex;
  min-width: 1400px;
  flex-direction: column;
}
.order-list-detail-item {
  padding: 1rem 10px;
  display: grid;
  grid-template-columns: 1.2fr 0.9fr 1.5fr 1.6fr 0.8fr 0.8fr 2.5fr 1.5fr 0.8fr;
  justify-items: center;
  grid-template-rows: 1fr;
  font-size: 13px;
  border-bottom: 1px solid rgb(235, 235, 235);
  p,
  b {
    text-align: center;
    width: 100%;
    /* background-color: red; */
    a,
    u {
      background-color: #fff9ec;
      padding: 3px 10px;
      font-size: 12px;
      font-weight: 500;
      border: 2px solid rgb(255, 196, 0);
      color: rgb(255, 162, 0);
      border-radius: 5px;
      position: relative;
      padding-left: 1rem;
      &::before {
        width: 5px;
        height: 5px;
        content: "";
        position: absolute;
        background-color: rgb(255, 187, 0);
        left: 7px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    u {
      border-color: rgb(0, 165, 11);
      text-decoration: none;
      background-color: rgb(240, 255, 236);
      color: rgb(0, 165, 11);
      &::before {
        background-color: rgb(26, 158, 0);
      }
    }
  }
  b {
    font-weight: 500;
  }
  &:hover {
    background-color: rgb(250, 250, 250);
  }

  .order-update-action-btn {
    position: relative;
    display: flex;
    border-radius: 4px;
    padding: 0 6px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }
}
.admin-address-area {
  position: relative;
  cursor: pointer;
}
.admin-address-area:hover .admin-address-tooltip {
  display: block;
}
.admin-address-tooltip {
  position: absolute;
  word-break: keep-all;
  width: max-content;
  bottom: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 4px 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 110;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  display: none;
  span, p{
    text-align: left;
  }
}
.order-list-detail-item:nth-last-child(1) .order-status-update-menu,
.order-list-detail-item:nth-last-child(2) .order-status-update-menu,
.order-list-detail-item:nth-last-child(3) .order-status-update-menu,
.order-list-detail-item:nth-last-child(4) .order-status-update-menu {
  top: -16rem !important;
  right: 0;
}
.order-status-update-menu {
  z-index: 1000;
  position: absolute;
  top: 0;
  display: flex;
  right: 3.5rem;
  border-radius: 7px;
  border: 1px solid rgb(235, 235, 235);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding-top: 1rem;
  .order-status-update-menu-sub {
    width: 10rem;
    /* border-left: 1px solid rgb(235, 235, 235); */
  }
  button {
    border: none;
    padding: 5px 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: white;
    width: 100%;
    height: 2rem;
    cursor: pointer;
    &:hover {
      background-color: rgb(250, 250, 250);
    }
  }
  .order-status-update-menu-close {
    padding: 2px 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-size: 1.3rem;
    right: 0px;
  }
}

/* ? Filters */

.order-filter-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-top: 0;
}
.order-filter-right-container {
  display: flex;
  gap: 1rem;
  position: relative;
}
.order-filter-right-item {
  position: relative;
  .order-filter-right-item-btn {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
}

.order-filter-right-item .order-tooltip {
  position: absolute;
  word-break: keep-all;
  width: max-content;
  top: -100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 4px 10px;
  left: 50%;
  transform: translate(-50%);
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  justify-content: center;
  display: none;
}
.order-filter-right-item:hover .order-tooltip {
  display: flex;
}
.order-filter-right-menu {
  position: absolute;
  z-index: 20;
  top: 110%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%);
  background-color: white;
  min-width: 5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border: 1px solid #ddd;
  border-radius: 7px;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 5px 1rem;
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
}
.order-filter-left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.active-order-filters .active-filter-item span,
.order-filter-left button {
  text-transform: uppercase;
  background-color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 5px;
  padding: 2px 10px;
  height: 100%;
}
.order-filter-left button {
  cursor: pointer;
  &:hover {
    background-color: rgb(245, 245, 245);
  }
}

.active-order-filters {
  display: flex;
  gap: 1rem;
  .active-filter-item {
    position: relative;
    height: 100%;
  }
  .active-filter-item div {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: white;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: #027a1a;
    }
  }
}
.order-filter-menu-item {
  padding: 5px 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 10rem;
  position: relative;
  font-size: 14px;

  &:hover {
    background-color: rgb(245, 245, 245);
  }
  .order-filter-sub-dropdown {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    width: 10rem;
    left: -10rem;
    top: 0;
    display: none;
    flex-direction: column;
    button {
      font-size: 14px;
      padding: 5px 0;
    }
  }
  &:hover .order-filter-sub-dropdown {
    display: flex;
  }
}
