.checkout-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
.checkout-hero {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}
.checkout-left {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 1rem;
}

.checkout-address-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  border: 1px solid #ececec;
  gap: 1rem;
}
.checkout-address {
  padding: 10px 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 275px;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.checkout-payment-mode-btns {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  gap: 10px;
  button {
    width: 100%;
    color: var(--scondary);
    outline: none;
    padding: 8px 1rem;
    border-radius: 6px;
    background-color: white;
    font-weight: 600;
    border: 2px solid var(--secondary);
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: var(--secondary);
    }
  }
  button:last-child {
    border: 2px solid var(--scondary);
    background-color: var(--secondary);
    color: white;
  }
}
@media (max-width: 850px) {
  .checkout-hero {
    flex-direction: column;
  }
}
.checkout-address-item {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
  height: 100%;
  /* width: 98%; */
  margin-right: 10px;
}
.address-checkbox-wrapper {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.address-checkbox {
  overflow: hidden;
  border: 2px solid #ddd;
  height: 1.1rem;
  width: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.address-checkbox button {
  border: 2px solid #ddd;
  padding-block: 0;
  padding-inline: 0;
  padding: 0;
  width: 11px;
  /* margin-top: 1px; */
  height: 11px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
}
.add-address-checkout {
  height: 9.5rem;
}
.add-address-checkout button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  /* color: white; */
  border: 2px dashed var(--primary);
  border-radius: 7px;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 8px 0;
  /* height: 10rem; */
  transition: background 400ms ease;
  &:hover {
    background-color: #ffbf006c;
  }
}
.checkout-right {
  border: 1px solid #ececec;
  border-radius: 7px;
  display: flex;
  overflow: scroll;
  height: 660px;
  .cart-product-wrapper {
    margin-top: 1.8rem;
    transform: scale(1.09);
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 860px) {
  .choose-address-head {
    flex-direction: column;
    gap: 10px;
    align-items: start;
    button {
      width: 100%;
      border-style: dashed;
    }
  }
  .checkout-left {
    flex-direction: row;
    width: 100%;
  }
  .checkout-hero {
    flex-direction: column;
  }
  .checkout-right {
    overflow-x: hidden !important;
  }
  .checkout-right .cart-product-wrapper {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width: 665px) {
  .checkout-left {
    flex-direction: column-reverse;
  }
}

/** Final confirmation */

.final-confirmation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final-confirmation {
  margin-top: -10rem;
  border-radius: 7px;
  display: flex;
  width: fit-content;
  padding: 2rem;
  flex-direction: column;
  background-color: white;
  position: relative;
  max-width: 600px;
  max-height: 30rem;
  justify-content: space-between;
  h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  b {
    font-weight: 500;
  }
}
.final-confirmation-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  &:hover {
    transition: transform 0.5s ease;
    transform: scale(1.2);
  }
}
.final-confirmation-btns {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  button {
    background-color: white;
    padding: 7px 14px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid;
    &:first-child {
      color: #ff100c;
      border-color: #ff7371;
      &:hover {
        background-color: #ff83835d;
      }
    }
    &:last-child {
      background-color: var(--secondary);
      color: white;
      font-weight: 600;
      border-color: var(--secondary);
      width: 15rem;
      transition: background 0.3s ease;
      &:hover {
        background-color: #037018;
      }
    }
  }
}
@media (max-width: 600px) {
  .final-confirmation-wrapper {
    background-color: white;
  }
  .final-confirmation {
    position: absolute;
    justify-content: space-between;
    height: 100%;
    max-height: 1100px;
    top: 0rem;
    margin-top: 0;
  }
  .final-confirmation-btns {
    flex-direction: column;
    button {
      width: 100% !important;
    }
  }
}