.home-wrapper {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-banner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-banner :first-child img {
  max-height: 15rem;
  width: 100%;
  object-fit: contain;
}

.home-banner :last-child img {
  display: none;
}

.home-category-wrapper {
  display: flex;
  width: 100%;
  max-width: 70rem;
  max-height: 28rem;
  overflow-y: hidden;
}

.home-category-skeleton {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.home-category-skeleton-card {
  width: 8rem;
  height: 12rem;
  margin: 1rem;
  border-radius: 10px;

  background-color: #d3e2ff;
  animation: fadePulse 1.5s ease-in-out infinite;
}

@keyframes fadePulse {
  0%,
  100% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }
}

.home-category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.home-category-card {
  width: 7rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 1030px) {
  .home-banner :first-child img {
    display: none;
  }

  .home-banner :last-child img {
    display: flex;
    max-height: 25rem;
    width: 100%;
  }

  .home-category-wrapper {
    overflow-x: hidden;
    width: 100%;
    max-height: none;
  }

  .home-category-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, minmax(7rem, auto));
    gap: 1rem;
    padding: 1rem 0.5rem;
    width: 100%;
  }

  .home-category-card {
    min-width: 10rem;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
    margin: 0 0.5rem;
    z-index: 1;
  }

  .home-category-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 14rem;
    /* width: 100%; */
    height: 7rem;
    background-color: #e5f3f3;
    z-index: -1;
    border-radius: 10px;
    border: 1px solid #a9d9fe;
  }

  .home-category-card img {
    max-width: 7rem;
    width: 100%;
    object-fit: contain;
    z-index: 2;
  }
  .category-wise-container {
    margin: 0 4rem !important;
    &::after {
      right: 1.5rem !important;
    }
  }
}
/* initial hidden state */
.reveal-section {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, filter 0.6s ease, transform 0.6s ease;
  will-change: opacity, filter, transform;
}

/* when visible */
.reveal-section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 940px) {
  .home-category-card {
    min-width: 5rem;
  }

  .home-category-card::before {
    width: 12rem;
  }
  .category-wise-container {
    margin: 0 1rem !important;
    &::after {
      width: 3rem !important;
      right: -1rem !important;
    }
  }
}

@media (max-width: 850px) {
  .home-wrapper {
    padding-top: 0;
  }
  .home-category-container {
    grid-template-rows: repeat(8, minmax(9rem, auto));
    justify-content: space-around;
    padding-top: 0;
  }

  .home-category-card {
    min-width: 8rem;
    max-width: 14rem;
    width: 100%;
    padding: 0.75rem;
  }

  .home-category-card::before {
    width: 40vw;
    max-width: none;
    height: 7rem;
    min-width: 8rem;
    margin: 10px 0;
  }

  .home-category-card img {
    width: 8rem;
  }
  .category-wise-wrapper {
    margin-top: 0 !important;
  }
  .category-wise-container {
    margin-bottom: 1rem !important;
  }
}

.category-wise-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  position: relative;
}

.category-wise-container {
  box-shadow: 10px 0px 10px 0px #ffffff;
  margin-bottom: 2rem;
  margin: 0 7rem;
  &:after {
    content: "";
    top: 0;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    right: 5rem;
    position: absolute;
    width: 4rem;
    height: 100%;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.3);
    /* box-shadow:inset 20px 0px 10px 0px #ffffff; */
    /* z-index: 1000; */
  }
}
@media (max-width: 500px) {
  .category-wise-container {
    margin: 0 !important;
    &::after {
      /* display: none; */
      width: 2rem !important;
      right: -0.5rem !important;
    }
  }
}

.category-wise-header h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.category-wise-products {
  display: flex;
  /* flex-direction: column; */
  gap: 1.5rem;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scroll-behavior: smooth;
}

.category-wise-products::-webkit-scrollbar {
  display: none;
}

.home-product-card {
  flex: 0 0 auto;
  width: 11.25rem;
  padding: 1rem;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
  box-shadow: rgba(100, 100, 100, 0.1) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
  position: relative;
  text-decoration: none;
}
.home-product-edit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: rgb(150, 150, 150);
  z-index: 90;
  &:hover {
    color: black;
  }
  &:active {
    color: black;
  }
}
.home-product-img {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 8.7rem;
    height: auto;
  }
}

.home-product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.discount-badge {
  position: absolute;
  top: 0;
  left: 1rem;
  background-color: #538cee;
  color: white;
  padding: 2px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  --mask: radial-gradient(
        2.69px at 50% calc(100% - 3.8px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 4px) 0/8px 100%,
    radial-gradient(2.69px at 50% calc(100% + 1.8px), #0000 99%, #000 101%) 50%
      calc(100% - 2px) / 8px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  p {
    font-size: 9px;
  }
  span {
    text-transform: uppercase;
    margin-top: -4px;
  }
}
.product-time {
  font-size: 11px;
  padding: 0 10px;
  color: #555;
  font-weight: 800;
  margin: 10px 0;
  width: fit-content;
  background-color: rgb(240, 240, 240);
}

.home-product-details h2 {
  font-weight: 600;
  font-size: 0.85rem;
  height: 2.5rem;
  overflow: hidden;
}

.home-product-details p {
  font-size: 0.75rem;
  color: #666;
  margin-top: 5px;
}

.product-price-add {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-add span {
  font-weight: 600;
  font-size: 12px;
}

.add-button {
  padding: 0.25rem 1rem;
  background-color: #f7fff9;
  border: 1px solid #318616;
  color: #45922d;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: rgb(220, 247, 227);
  }
  &:active {
    background-color: rgb(220, 247, 227);
  }
}

.home-product-scroll-btns {
  position: absolute;
  pointer-events: none;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 80;

  button {
    position: absolute;
    top: 50%;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1rem;
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border: none;
    transition: transform 0.2s ease;

    &:hover {
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
      transform: scale(1.2);
    }
    &:active {
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    }
  }
}

.home-product-scroll-btns button:first-child {
  left: 0;
}

.home-product-scroll-btns button:last-child {
  right: 0;
}
