.order-placed-wrapper {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
}
.order-placed-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  width: fit-content;
  margin-top: 5rem;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  padding: 3rem 10rem;
  border-radius: 7px;
  gap: 10px;
    text-align: center;
  flex-direction: column;
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 14px;
    color: rgb(120, 120, 120);
  }
  b {
    font-weight: 500;
    font-size: 14px;
  }
  .order-placed-btns {
    display: flex;
    gap: 1.5rem;
  }
  button {
    background-color: white;
    padding: 8px 18px;
    border: 2px solid var(--secondary);
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 500;
    transition: background 0.3s ease;
    &:first-child {
      background-color: var(--secondary);
      color: white;
      &:hover {
        background-color: #027519;
      }
    }
    &:hover {
      background-color: var(--secondary);
      color: white;
    }
  }
}
.success-check {
  font-size: 7rem;
  color: var(--secondary);
  margin-bottom: -2.5rem;
}
@media (max-width:670px) {
  .order-placed-container{
    padding: 0;
    box-shadow: none;
    border: none;
    .order-placed-btns{
      gap: 1rem;
      flex-direction: column;
      button{
        margin-top: 0;
      }
    }
  }
}
