.order-page-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .order-head {
    font-weight: 500;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 1rem;
  }
}
.order-list {
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
  overflow-x: hidden;
}
.order-item {
  margin: 1rem 0;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 7px;
  .order-date {
    font-size: 1rem;
    margin-bottom: 0;
    margin-block: 0;
  }
  .order-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    .order-image-item {
      border: 1px solid #ddd;
      border-radius: 7px;
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      img {
        width: 100%;
        max-width: 5rem;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 1020px) {
  .order-list {
    max-height: 650px;
  }
}

/* ? Order Details CSS */

.order-detail-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.order-detail-hero {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: auto;
  padding-right: 1rem;
  max-height: 550px;
  .order-head {
    font-weight: 500;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 1rem;
  }
}
.order-summary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  h3 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .order-item-bill {
    border: 1px solid #ddd;
    border-radius: 7px;
    height: fit-content;
  }
}
.items-ordered-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 7px;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
}
.items-ordered-container .ordered-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(250, 250, 250);
  }
  &:active {
    background-color: rgb(250, 250, 250);
  }
  img {
    border-radius: 7px;
    width: 5rem;
    border: 1px solid #ddd;
  }
}
.ordered-item-details {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  p {
    max-width: 200px;
    overflow: hidden;
    height: 1.2rem;
    font-size: 14px;
  }
  span {
    font-size: 14px;
    color: #3f3f3f;
  }
}

.order-details-imp {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 1rem;
  h2 {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .order-details-sub {
    display: flex;
    flex-direction: column;
    gap: 5px;
    div {
      display: flex;
      flex-direction: column;
      p {
        font-size: 1rem;
      }
      span {
        font-size: 14px;
        color: #686868;
        p {
          font-size: 14px;
        }
      }
    }
  }
}
.order-control-wrapper {
  .order-control-item {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p,
    button {
      display: flex;
      align-items: center;
      border-radius: 7px;
      font-size: 15px;
      padding: 5px 1rem;
    }
    p {
      background-color: white;
      cursor: pointer;
      width: 100%;
      justify-content: center;
      border: 1px solid #ddd;
      font-size: 1rem;

      &:hover {
        background-color: rgb(245, 245, 245);
      }
    }
    button {
      width: 100%;
      color: white;
      justify-content: space-between;
      border: none;
      background-color: var(--secondary);
      cursor: pointer;

      &:hover {
        background-color: #037c1b;
      }
    }
  }
}
@media (max-width: 500px) {
  .ordered-item-details {
    flex-direction: column;
    align-items: flex-start;
  }
}
