.order-page-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .order-head {
    font-weight: 500;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 1rem;
  }
}
.order-list {
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
  overflow-x: hidden;
}
.order-item {
  margin: 1rem 0;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 7px;
  .order-date {
    font-size: 1rem;
    margin-bottom: 0;
    margin-block: 0;
  }
  .order-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .order-image-item {
      border: 1px solid #ddd;
      border-radius: 7px;
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      img {
        width: 5rem;
        object-fit: cover;
      }
    }
  }
}
