.product-list-wrapper-main {
  height: 100%;
  display: flex;
  justify-content: center;
  max-height: 700px;
  overflow: hidden;
}
.product-list-wrapper {
  margin: 1rem;
  border: 1px solid #ddd;
  width: 1100px;
  overflow: hidden;
  flex-direction: column;
}
.product-list-wrapper-header {
  width: 100%;
  padding: 4px 10px;
  border-bottom: 1px solid #ddd;
  h2 {
    font-weight: 600;
    font-size: 1rem;
  }
}
.product-list-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* gap: 2rem; */
}
.subcategory-sidebar-wrapper {
  background-color: white;
  width: 5rem;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;

  .subcategory-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .subcategory-sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    color: #666;
    align-items: center;
    /* border-bottom: 1px solid red; */
    background-color: white;
    padding: 5px;
    /* position: relative; */
    p {
      width: 100%;
      text-align: center;
      z-index: 10;
      background-color: white;
    }
    &:hover {
      color: #1a1a1a;
    }
    img {
      width: 2rem;
      position: relative;
      transform: translateY(20px);
      transition: transform 0.3s ease-in-out;
      object-fit: contain;
    }
  }
  .active-subcategory {
    color: black;
    font-weight: 600;
    position: relative;
    img {
      transition: transform 0.3s ease-in-out;
      transform: translateY(0px);
    }
  }
  .active-subcategory::after {
    content: "";
    height: 110% !important;
    position: absolute;
    width: 4px;
    top: -10px;
    right: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: var(--secondary);
  }
}
.subcategory-sidebar-wrapper::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
}
.product-list-container {
  width: 100%;
  overflow-y: auto;
}
.product-list-container-2 {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  .home-product-card {
    width: 100%;
  }
}

@media (max-width: 1070px) {
  .product-list-container-2 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 930px) {
  .product-list-container-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 690px) {
  .product-list-container-2 {
    grid-template-columns: repeat(2, 1fr);
    .home-product-card{
      min-width: 5rem;
    }
  }
}
@media (max-width: 460px) {
  .product-list-container-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
