.product-list-wrapper {
  width: 100%;
  height: 100%;
}
.product-list-hero {
  width: 100%;
  height: 100%;
  display: flex;
  /* gap: 2rem; */
}
.subcategory-sidebar-wrapper {
  width: 16rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 100;
  padding-top: 5.3rem;
  height: 100vh;
  overflow: auto;
  /* width: 100%; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;

  .subcategory-sidebar {
    padding: 3.5rem 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
  }
  .subcategory-sidebar-item:first-child {
    border-top: 1px solid #eee;
  }
  .subcategory-sidebar-item {
    display: flex;
    justify-content: left;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    padding-left: 1rem;
    align-items: center;
    height: 4rem;
    gap: 10px;
    border-bottom: 1px solid #eee;
    &:hover {
      background-color: #e8ffee;
      color: #1a1a1a;
    }
    &:active {
      background-color: #dbffe4;
    }
    img {
      width: 2rem;
    }
  }
  .active-subcategory {
    background-color: #e8ffee;
    color: black;
    position: relative;
  }
  .active-subcategory::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 4px;
    left: 0;
    background-color: var(--secondary);
  }
}
.product-list-container {
  width: 100%;
  margin: 2rem;
  margin-left: 18rem;
}
.product-list-container-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  .home-product-card {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .product-list-container-2 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1045px) {
    .subcategory-sidebar-wrapper{
        width: 12rem;
    }
    .product-list-container{
        margin: 1rem;
        margin-left: 13rem;
    }
  .product-list-container-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .product-list-container-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 625px) {
  .subcategory-sidebar img{
    display: none;
  }
  .subcategory-sidebar-wrapper{
    width: 8rem;
  }
  .product-list-container{
    margin-left: 9rem;
  }
  .product-list-container-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}