.auth-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.auth-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  margin: 2rem 1rem 0 1rem;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  background-color: white;
  max-width: 35rem;
  width: 100%;
  min-width: 10rem;

  .auth-form-head {
    font-size: 1.5rem;
    text-align: center;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.input-field input {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 12px;
  font-size: 0.9rem;

  &:focus {
    border-color: #379afe;
    background-color: #f0f7fe;
  }
}

.auth-msg {
  text-align: center;
  font-size: 1rem;
  color: rgb(211, 7, 7);
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  padding-right: 2.5rem;
}

.toggle-eye {
  position: absolute;
  right: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}
.forgot-link {
  margin-left: auto;
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }&:active {
    text-decoration: underline;
  }
}
.auth-btn {
  border: none;
  background-color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 0.8rem 0;

  &:hover {
    background-color: #05851f;
  }&:active {
    background-color: #05851f;
  }
}

.btn-disable {
  cursor: not-allowed;
  opacity: 0.6;

  &:hover {
    opacity: 0.6;
  }
}

.auth-footer-link {
  gap: 5px;
  display: flex;
  a {
    color: var(--secondary);
    font-weight: 600;
    display: block;
    text-align: right;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
